<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
    <!-- Bootstrap CSS -->
    <th:block th:include="common/include/include-link"/>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <h2 class="text-center my-4">Eroom Admin</h2>
            <p class="text-center">가짜 계정을 생성해보세요.</p>
            <a class="btn btn-primary btn-block" th:href="@{/admin/logout}">Logout</a>
        </div>
    </div>
</div>

<!-- Bootstrap JS -->
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/js/admin/login.js}"></script>
</body>
</html>