security:
  profiles:
    active: integration-test

---
stage:
  on-profile: unit-test
  authentication:
    status: false
    oauth: false
    basic-auth: true
  authorization: true
---
stage:
  on-profile: integration-test
  authentication:
    status: true
    oauth: true
    basic-auth: true
  authorization: true
---
stage:
  on-profile: dev
  authentication:
    status: false
    oauth: false
    basic-auth: false
  authorization: false