spring:
  profiles:
    include:
      - oauth
      - aws
      - security
    active: dev
  devtools:
    livereload:
      enabled: true

server:
  port: 8080
  tomcat:
    uri-encoding: UTF-8


---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${AWS_USERNAME}
    password: ${AWS_PASSWORD}
    url: ${AWS_DEV_DB_URL}
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        show_sql: true
        format_sql: true
        use_sql_comments: true
        hbm2ddl:
          auto: update
        default_batch_fetch_size: 1000

logging:
  level:
    root: debug
    sql: debug

jwt:
  secret-key: token-secret-key
  token-validity-in-sec: 1800 # 1??
  refresh-token-validity-in-sec: 2592000  # ???

---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${AWS_USERNAME}
    password: ${AWS_PASSWORD}
    url: ${AWS_PROD_DB_URL}
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        show_sql: true
        format_sql: true
        use_sql_comments: true
        hbm2ddl:
          auto: update
        default_batch_fetch_size: 1000

logging:
  level:
    root: info
    sql: info

jwt:
  secret-key: token-secret-key
  token-validity-in-sec: 1800 # 1??
  refresh-token-validity-in-sec: 2592000  # ???

---
spring:
  config:
    activate:
      on-profile: test
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${AWS_USERNAME}
    password: ${AWS_PASSWORD}
    url: ${AWS_TEST_DB_URL}
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        show_sql: true
        format_sql: true
        use_sql_comments: true
        hbm2ddl:
          auto: update
        default_batch_fetch_size: 1000

logging:
  level:
    root: error
    sql: error

jwt:
  secret-key: token-secret-key
  token-validity-in-sec: 1800 # 1??
  refresh-token-validity-in-sec: 2592000  # ???

---
spring:
  config:
    activate:
      on-profile: local
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${LOCAL_DB_USERNAME}
    password: ${LOCAL_DB_PASSWORD}
    url: ${LOCAL_DB_URL}
  jpa:
    output:
      ansi:
        enabled: always
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
        show_sql: true
        format_sql: false
        use_sql_comments: false
        hbm2ddl:
          auto: update
        default_batch_fetch_size: 1000
logging:
  level:
    org:
      hibernate:
        type: trace
    root: info
    sql: debug

jwt:
  secret-key: token-secret-key
  token-validity-in-sec: 1800 # 1??
  refresh-token-validity-in-sec: 2592000  # ???