.error-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #53AC8E;
}

.error-intro {
    width: 335px;
    margin: 0 auto;
}

.back-btn {
    display: block;
    padding: 12px 24px;
    width: 104px;
    height: 48px;
    background-color: #FFFFFF;
    border: 1px solid #E9E9E9;
    border-radius: 12px;
    margin: 0 auto;
}