<!-- Bootstrap core CSS -->
<link th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}" rel="stylesheet">

<!-- reset css -->
<link th:href="@{/css/common/reset.css}" rel="stylesheet">

<!-- header css -->
<link th:href="@{/css/common/header.css}" rel="stylesheet">

<!-- footer css -->
<link th:href="@{/css/common/footer.css}" rel="stylesheet">

<!-- common.css -->
<link th:href="@{/css/common/common.css}" rel="stylesheet">

<!-- favicon -->
<link th:href="@{/favicon.ico}" rel="shortcut icon">
